{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="TemplateMo">
  <link
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap"
    rel="stylesheet">

  <title>itBblog</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Inside your HTML template -->
  <!-- set a force reset for contents -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/fontawesome.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/templatemo-stand-blog.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/owl.css' %}">



</head>

<body>

  <!-- ***** Preloader Start ***** -->
  <!--
  <div id="preloader">
    <div class="jumper">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  -->
  <!-- ***** Preloader End ***** -->

  <!-- Header -->
  
  <header class="">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">
          <img id="logo-image" src="{% static 'media/devops-2.svg' %}" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
          aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">Blog
                <!-- <span class="sr-only">(current)</span> -->
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'books' %}">Books-Store</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <section class="call-to-action">
    <div class="container">
      <div class="">
        <div class="">
          <div class="main-content">
            <div class="">
              <div class="">
                <span>Place Add Here</span>
                <h4>Advert Here</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% block content %}
  {% endblock content %}

  <!-- footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="">
          <ul class="social-icons">
            <li><a href="#">X</a></li>
            <li><a href="#">Linkedin</a></li>
          </ul>
        </div>
        <p class="copyright-text">
          contact : <em>+234 88 992 9928</em>
        </p>
        <p class="copyright-text">
          Suncribe : <em>+234 88 992 9928</em>
        </p>
        <div class="">
          <div class="copyright-text">
            <p>Copyright DevBlogger 2024
              | <a rel="nofollow" href="https://templatemo.com" target="_parent">TemplateMo</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/jquery.min.js' %}"></script>


  <!-- 
    Additional Scripts 
  <script src="assets/js/custom.js"></script>
  <script src="assets/js/owl.js"></script>
  <script src="assets/js/slick.js"></script>
  <script src="assets/js/isotope.js"></script>
  <script src="assets/js/accordions.js"></script>
  -->

  <!--
  <script src="{% static 'js/custom.js' %}"></script>
  <script src="{% static 'js/owl.js' %}"></script>
  <script src="{% static 'js/slick.js' %}"></script>
  <script src="{% static 'js/isotope.js' %}"></script>
  <script src="{% static 'js/accordions.js' %}"></script>
  -->

  <!--
  <script language="text/Javascript">
    cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
    function clearField(t) {                   //declaring the array outside of the
      if (!cleared[t.id]) {                      // function makes it static and global
        cleared[t.id] = 1;  // you could use true and false, but that's more typing
        t.value = '';         // with more chance of typos
        t.style.color = '#fff';
      }
    }
  </script>
  -->

</body>

</html>